/* SIGNUP/LOGIN */
.signup-login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 0px;
  height: 100%
}

/* PORTFOLIO */
.ag-theme-balham {
  position: absolute;
  left: 10%;
  top: 35%;
}

.portfolio-label{
  position: absolute;
  left: 26.2%;
  top: 29%;
  color: gray;
  font-size: 18px;
  font-family: Calibri;
}

.portfolio-cash-label{
  position: absolute;
  left: 25.5%;
  top: 20%;
  color: #914FC3;
  font-size: 60px;
  font-family: Calibri;
}

/* BUYING POWER */
.buying-power-label{
  position: absolute;
  right: 30.5%;
  top: 29%;
  color: gray;
  font-size: 18px;
  font-family: Calibri;
}

.cash-label{
  position: absolute;
  right: 30%;
  top: 20%;
  color: #914FC3;
  font-size: 60px;
  font-family: Calibri;
}

.purchase {
  position: absolute;
  right: 24%;
  top: 32%;
  width: 20%;
}

/*BUTTON*/
.button {
  background-color: #914FC3;
  color: white;
  border-radius: 35px;
  padding: 12px 32px;
  left: 10%;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}