.signup-login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 130px;
  height: 100%
}

.ag-theme-balham {
  position: absolute;
  left: 500px;
  top: 180px;
}

/* PORTFOLIO */
.portfolio-label{
  position: absolute;
  left: 500px;
  top: 70px;
  color: gray;
  font-size: 15px;
  font-family: Calibri;
}

.portfolio-cash-label{
  position: absolute;
  left: 500px;
  top: 120px;
  color: #914FC3;
  font-size: 50px;
  font-family: Calibri;
}
/* BUYING POWER */
.buying-power-label{
  position: absolute;
  left: 100px;
  top: 20px;
  color: gray;
  font-size: 15px;
  font-family: Calibri;
}
.cash-label{
  position: absolute;
  left: 100px;
  top: 70px;
  color: #914FC3;
  font-size: 50px;
  font-family: Calibri;
}

.purchase {
  position: absolute;
  left: 100px;
  top: 148px;
  width: 20%;
}

.transactions {
  position: absolute;
  right: 0px;
  top: 170px;
  border-collapse: collapse;
  width: 40%;
  text-align: left;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.cards {
  position: absolute;
  left: 500px;
  top:20px;
}
