.signup-login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 130px;
  height: 100%
}

.ag-theme-balham {
  position: absolute;
  left: 650px;
  top: 100px;
}

.portfolio-label{
  position: absolute;
  left: 650px;
  top: 70px;
}

.transactions {
  position: absolute;
  right: 0px;
  top: 100px;
  border-collapse: collapse;
  width: 40%;
  border: 4px solid #dddddd;
  text-align: left;
  padding: 5px;
  
}